@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Algreya, sans-serif;
    font-weight: 300;
    color: black;
    background-color: #FFF6F8;
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


}

/* headings */

h1,
h2,
h3 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    color: black;
    text-transform: uppercase;
}

/* header */

header {
    background-color: #501122;
    letter-spacing: 1px;
}


/* navigation and logo */

nav {
    font-size: 120%;
    list-style-type: none;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 7px 5px;
    border-radius: 10px;
}

#menu a:hover {
    background-color: #7D5E25
}

.logo {
    font-family: Lobster Two, cursive;
    font-size: 200%;
    font-weight: 400;
    line-height: 80px;
    padding: 0 5px;
    letter-spacing: 1px;
}

.logo img {
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 20px;
}

.active {
    background-color: #7D5E25
}

.checkbtn {
    font-size: 120%;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Hero video and cover text */

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#hero-video video {

    width: 100wh;
    height: 100vh;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#cover-text h1 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text h2 {
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
    justify-content: center;

    position: absolute;
    left: 20px;
    bottom: 50%;
    width: 50%;
}

/* About Us */

.head {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    padding: 20px 0;
    color: #6E3521;
}

#about {
    height: 600px;

}

#about h2 {
    font-weight: bold;
    font-size: 150%;
    margin: 5px 0;
    text-align: center;
    padding: 5px;
}

#about p {
    font-size: 120%;
    padding: 0px 2px 8px 8px;
}

.about-left {

    width: 33%;
    float: left;
    padding-bottom: 5px;
}

.about-right {
    width: 33%;
    float: right;
    padding-bottom: 5px;
}

.about-center {
    width: 33%;
    margin: 0 auto;
    padding-bottom: 5px;
}


.about-left-text {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;

}

.about-right-text {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;

}

.about-center-text {
    width: 60%;
    line-height: 20px;
    margin: 0 auto;

}



.img-who {
    background: url("../images/who-we-are.jpg") center center / cover no-repeat;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.img-values {
    background: url("../images/our-values.jpg") center center / cover no-repeat;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.img-mission {
    background: url("../images/our-mission.jpg") center center / cover no-repeat;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.shadow {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



/* Services */

#services {
    height: 600px;
    background: url("../images/bike-bag.jpg") top center / cover no-repeat fixed;
    overflow: hidden;
    width: 100%;

}

#services h1 {
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, .7);

}

#services div {
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, .7);
    width: 25%;
    height: 600px;
    float: left;
    padding: 60px 0 10px 10px;
    text-align: center;
    box-sizing: border-box;
}

#services h2 {
    color: #f1f1f1;
    font-weight: bold;
    font-size: 150%;
    margin: 5px 0;
}

#services p {
    font-size: 120%;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    line-height: 20px;
}

/* Contact */

#contact {
    height: 600px;
}

.box-left {
    float: left;
    width: 50%;
}

.box-right {
    float: right;
    width: 50%;
}

.box-right h3 {

    font-weight: bold;
    margin: 5px
}

.box-right h2 {

    font-weight: bold;
    margin: 20px 5px 20px 5px
}

.contact-info {
    height: 300px;
    clear: both;
    font-size: 120%;
    margin: 100px 0 0 50px;
    width: 30%;
    text-align: center;
    line-height: 20px;
    padding: 8px;
}

.contact-img {
    background: url("../images/girl-phone.jpg") center center / cover no-repeat;
    height: 500px;
    width: 50%;
    overflow: hidden;
    float: right;
}

.lowercase {
    text-transform: lowercase;
    font-weight: normal;
}

hr {
    border-top: 3px solid #6E3521;
    width: 100%;
    margin: 10px 0;
}

/* Footer */

footer {
    height: 100px;
    background: #501122;
    text-align: center;
    width: 100%;
    color: #f1f1f1;
}

.social li {
    display: inline;
}

.social i {
    font-size: 200%;
    color: #f1f1f1;
    margin: 10px 40px;
}

footer p {
    font-size: 120%;
    margin-top: 1%;
}

/* Map */

#map {
    margin-top: 30px;
    border: none;
}

/* Gallery */

#photo {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0px;

}

#photo img {
    width: 100%;
}

/* Form */

.form {

    background: url("../images/form-bg.jpg") top center / cover no-repeat;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.quote-form {
    margin: 100px 5% 0 0;
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, .7);
    max-width: 600px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.quote-form h2 {
    color: #f1f1f1;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 200%;
    text-align: center;

}



.text-input {
    background: transparent;
    color: #f1f1f1;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #eccece;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #6E3521;
}

.send-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #bd1736;
    color: #fafafa;
    display: block;
    margin: 0 auto;

}

.send-button:hover {
    background-color: #fafafa;
    color: #bd1736;
}

legend {
    font-size: 110%;
    font-weight: bold;
    margin: 20px 0 20px 0;
}

input[type=date],
input[type=range],
input[type=radio],
select {
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #f1f1f1;
    border-radius: 2px;
}



/* Media queries */

@media (max-width: 1600px) {

    .box-right h2,
    h3 {
        font-size: 100%;
    }

    .head {
        font-size: 200%;
        padding: 15px 0;
    }

    .about-left .about-left-text {
        width: 100%;
        float: left;
        padding-bottom: 5px;
        clear: left;
    }

    .about-right .about-right-text {
        width: 100%;
        float: left;
        padding-bottom: 5px;
        clear: right;
    }

    .about-center .about-center-text {
        width: 100%;
        padding-bottom: 5px;
    }

    .contact-info {
        width: 50%;
    }
    
    .contact-img {
        width: 60%;
    }  

}

@media (max-width: 1170px) {
    #services {
        height: 1000px;
    }

    #services div {
        width: 50%;            
        height: 500px;
        padding: 0;
    }

    #services p {
        width: 50%;  
        padding: 0;               
    }
}

@media  (max-width: 1125px) {

    header, nav {
       position: fixed; 
       z-index: 3;
       background-color: #501122;
    }

    .checkbtn {
        display: block;

    }

    .logo {
        padding-left: 40px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6E3521;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 3;
    }

    nav li {
        display: block;
    }

    #menu {
        font-size: 90%;
    }

    #menu a:hover,
    .active {
        background: none;
        color: #32DDCA;
    }

    #check:checked~ul {
        left: 0;
    }

    .logo {
        padding-left: 20px;
    }

    #photo {
        column-count: 2;
    }

    #cover-text {
        font-size: 170%;
        left: 0;
        width: 40%;
    }
      
    footer > p {
        font-size: 100%;       
    }

   

    
    
}

@media (max-width: 850px) {
   


    #photo {
        column-count: 1;
    }

   
    
    #cover-text {
        font-size: 160%;
        text-align: left;
        left: 10px;
    }

    #services {
        height: 2000px;
    }

    #services div {
        width: 100%;            
        height: 500px;
      
    }

    #services p {
        width: 100%;  
                     
    }

    .contact-info {
        width: 85%;
        margin-left: 10px;
                
    }
    
    .contact-img {
        width: 95%;
        
    } 

    #about {
        height: 1500px;
        
    }
        
    .about-left {

        width: 100%;
        clear: right;
    }
    
    .about-right {
        width: 100%;
        clear: left;
        
    }
    
    .about-center {
        width: 100%;  
        clear: both;   
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .form {
        height: 1200px;
    }
         
    
}

