@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300&family=Nunito:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');

*{
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: Algreya, sans-serif;
    font-weight: 300;
    color: black;    
}

/* headings */

h1, h2 {
    font-family: Nunito, sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    color: black;
    text-transform: uppercase;
} 

/* header */

header {
    background-color: #501122;
    letter-spacing: 1px;
}


/* navigation and logo */

nav {
    font-size: 120%;
    list-style-type: none;
    height: 80px;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
   
nav a {
    color: white;
    text-decoration: none;
    padding: 7px 5px;
    border-radius: 10px;
}

#menu a:hover {
    background-color: #7D5E25
}

.logo {
    font-family: Lobster Two, cursive;
    font-size: 200%;
    font-weight: 400;
    line-height: 80px;
    padding: 0 5px;
    letter-spacing: 1px;
}

.logo img {
    width: 80px;
    height: 80px;
    float: left;
    margin-left: 20px;
}

.active {
    background-color: #7D5E25
}

.checkbtn {
    font-size: 120%;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* Hero video and cover text */

video {
    object-fit: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#hero-video video {
   
   width: 100wh;
   height: 100vh;
   position: relative;
   overflow: hidden;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
    
}

#cover-text h1 { 
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text h2 { 
    color: #f1f1f1;
    font-weight: bold;
}

#cover-text {     
        font-size: 200%;
        text-transform: uppercase;
        letter-spacing: 4px;
        text-align: center;
        justify-content: center;
       
        position: absolute;
        left: 20px;
        bottom: 50%;  
        width: 50%;    
}

/* About Us */

.head {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    padding: 20px 0;
    color: #6E3521;
}

#about {
    height: 600px;
    background-color: #FFE3EA;
}

#about h2 {
    font-weight: bold;
    font-size: 150%;
    margin: 5px 0;
    text-align: center;
}

#about p {
    font-size: 120%;
    border: 10px solid #7D5E25;
    border-radius: 10px;   
    padding: 10px;
    margin-top: 10px;
}

.about-left {
    padding-top: 30px;
    width: 33%;
    float: left;
}

.about-right {
    padding-top: 30px;
    width: 33%;
    float: right;
}

.about-center {
    width: 33%;
    margin: 0 auto;
}


.about-left-text {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
}

.about-right-text {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;    
}

.about-center-text {
    width: 60%;
    line-height: 20px;
    margin: 0 auto; 
    padding-top: 30px;  
}

/* Services */

#services {
    height: 600px;
    background: url("../images/bike-bag.jpg") top center / cover no-repeat fixed;
    overflow: hidden;
    width: 100%;
         
}

#services div {
    color: #f1f1f1;
    background-color: rgba(0,0,0, .7); 
    width: 25%;
    height: 600px;
    float: left;
    padding: 100px 0 0 10px;
    text-align: center;
    box-sizing: border-box;
}

#services h2 {
    color: #f1f1f1;
    font-weight: bold;
    font-size: 150%;
    margin: 5px 0;
}

#services p {
    font-size: 120%;
    text-align: center;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
    line-height: 20px;

}

/* Contact */

#contact {
    height: 600px;
}

/* Footer */

footer{
    height: 100px;
    background: #501122;
    text-align: center;
    width: 100%;
    color: #f1f1f1;
}

.social li{
    display: inline;
}

.social i{
    font-size: 200%;
    color: #f1f1f1;
    margin: 10px 20px;
   }

footer p {
    font-size: 120%;
    margin-top: 1%;
}

/* Media queries */

@media (max-width: 985px) {
    .logo {
        padding-left: 20px;
    }

    #menu {
        font-size: 100%;
    }
}

@media (max-width: 850px) {
    .checkbtn {
        display: block;
    }

    .logo {
        padding-left: 40px;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6E3521;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s; 
    }
    
    nav li {
        display: block;
    }
   
    #menu {
        font-size: 90%;
    }

    #menu a:hover, .active  {
        background: none;
        color: #32DDCA;
    }
    
    #check:checked ~ ul {
        left: 0;
    }
}